<nav>
  <ul>
    <li><a href="/" class="contrast"><strong>Disciplify</strong><a href="/about"></li>
    <li><%= link_to "About", about_path %></li>
  </ul>
  <ul>
    <li><a href="#" class="contrast"><small>Log In</small></a></li>
    |
    <li><a href="#" class="contrast"><small>Sign Up</small></a></li>
  </ul>
</nav>